
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="container,row,col-lg-8">
    <div class="well well-lg">
      <div class="media1">
          <div class="media-body">
                                                
            <div class="form-group" style="padding:12px;">

             <dt>
                <%= f.label :title,'หัวข้อ' %><br>
              </dt>
              <dd>
               <input type="text" class="form-control input-lg" placeholder="title" <%= f.text_field :title %>
              </dd>


              <div class="field">
                 <dt>
                  <%= f.label :body,'เนื้อหา' %><br>
                 </dt>
                  <textarea class="form-control input-lg animated" rows="10" <%= f.text_area :body %>
              </div>

              <script>
                $("textarea").autosize();
              </script>
              <button class="btn btn-info pull-right" style="margin-top:10px" type="submit">บันทึก</button>
            </div>
          </div>
      </div>
    </div>  <!-- well-sm -->
</div>
</br>
<% end %>
