<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<dl >
  <div class="field">
    <dt>
      <%= f.label :title %><br>
   </dt>
   <dd>
      
    <input type="text" class="form-control input-lg" placeholder="title" <%= f.text_field :title %>
   </dd>
  </div>
</br>
 <div class="field">
     <dt>
      <%= f.label :body %><br>
    </dt>
    <dd>
     
     <textarea class="form-control input-lg" rows="10" <%= f.text_area :body %></textarea>
     </dd>
  </div>

  </br>

  <div class="actions">
    <button type="submit" class="btn btn-default" <%= f.submit %> Create Post
          </button><br/>
  </div>

<% end %>
