
<div class="panel panel-warning">
      <div class="panel-heading">
        <h3>
        <strong><%= @post.title %></strong>
        </h3>
      <p>
        <strong>ผู้เขียน:</strong>
        <%= @post.user.email %>
      </p>
      </div>
      <div class="panel-body">

          <textarea disabled class="form-control input-lg js-postField js-notesSource noresize" resize="none" ><%= @post.body %></textarea>
          <script>
            $("textarea").autosize();
          </script>

        <h4> ความเห็น </h4>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= comment.commenter %>:</strong>
            <%= comment.body %>
          </p>
        <% end %>
      </div>
    </div>


<%= render 'commentform' %>


<div class= .col-xs-6 .col-md-4></div></div>
</br>

<div class="container">
  <%= link_to 'แก้ไข', edit_post_path(@post) %> |
  <%= link_to 'ย้อนกลับ', posts_path %>
</div>



